@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
@import url(http://fonts.googleapis.com/css?family=Patua+One);
html, body {
	min-width:300px;
	height:auto;
	background:transparent;
}

body {
	overflow:hidden;
}
#search-results{
	padding:20px 10px 0px 5px;
	overflow:hidden;
}

#search-results iframe html{
	border:none;
}
#search-results iframe {
	min-width:300px;
}

ol.search_list {
	margin-left:10px;
	list-style-type:none;
	counter-reset: ol;
}
ol.search_list li:before {
content: counter(ol) ".";
counter-increment: ol;
float:left;
display:block;
width:20px;
text-align:right;	
padding-right:10px;
margin:0px 0px 0 -30px
}
ol.search_list li {
	padding-bottom:20px;
	margin-left:15px;
    font-style: normal;
}
ol.search_list h4 {
}
.search_link {
    color:#444;
	font:600 15px/15px 'Open Sans';
    margin:0;     
    text-transform:uppercase;
    margin-bottom:18px;
    margin-top:16px;
    position:relative;
    top:-1px;
}
span.match {
	color:#3b3837;
	font:bold 12px/12px 'Open Sans';
	display:block; 
	
}
span.search {
	color:#3b3837;

}
.search_link{
	text-decoration: underline;
}
.search_link:hover{
    color:#e77865;
}

